/* GLOBAL STYLE */

/* * {
  outline: 1px solid black; 
} */

body {
  /* display: grid; */
  font-family: Helvetica, sans-serif;
  text-align: center;
}


/* MAIN  */ 
 /* main {
  display: grid;
  width: 768px;
  margin: 0px auto;
} */

@media only screen and (min-width: 769px) {
  main {width: 960px;
  }
 
}